<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <h1>All Themes</h1>
        </div>
        <div class="col-lg-4">
            <button type="button" class="btn btn-primary pull-right" (click)="newThemeModal.show()">Add new theme</button>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div *ngIf="themes" class="list-group">
                <div class="list-group" *ngFor="let theme of themes" class="card-item">
                    <a [routerLink]="['/single-theme',theme.$key]" class="list-group-item">
                        <h4 class="list-group-item-heading">{{theme.name}}
                            <span class="badge pull-right" *ngIf="!theme.links">0</span>
                            <span class="badge pull-right" *ngIf="theme.links">{{theme.links.length}}</span>
                        </h4>
                        <p class="list-group-item-text">{{theme.description}}</p>
                        <br>
                        <i>from {{theme.authorID == this.firebaseAuthService.uid ? "you" : theme.author}}</i>
                        <hr>
                        <span *ngFor="let keyword of theme.keywords" class="keywordTag label label-default">{{keyword}}</span>
                    </a>
                    <div class="edit-buttons-container" *ngIf="theme.authorID == this.firebaseAuthService.uid">
                        <button type="button" class="btn btn-danger pull-right" (click)="deleteTheme(theme.$key,theme.name)">delete theme</button>
                        <button type="button" class="btn btn-warning pull-right" (click)="editUpdateTheme(theme.$key,theme);updateThemeModal.show()">edit theme</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- New Theme Modal -->
<div class="modal fade" bsModal #newThemeModal="bs-modal" tabindex="-1" role="dialog" aria-labelledby="newThemeModal" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">Add a new theme to collect links</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="newThemeModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="themeName" class="col-sm-2 control-label">Theme Name*</label>
                        <div class="col-sm-10">
                            <input type="text" [(ngModel)]="newTheme.name" (ngModelChange)="themeNameChanged(newTheme.name)" class="form-control" id="themeName"
                                name="themeName" placeholder="Theme Name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="keywords" class="col-sm-2 control-label">Keywords</label>
                        <div class="col-sm-10">
                            <input type="text" [(ngModel)]="keywordsString" (ngModelChange)="keywordStringChanged(keywordsString)" class="form-control"
                                id="keywords" name="keywords" placeholder="Keywords (seperated with ;)">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="keywords" class="col-sm-2 control-label"></label>
                        <div class="col-lg-10">
                            <span class="keywordTag label label-default" *ngFor="let keyword of newTheme.keywords">{{keyword}}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="description" class="col-sm-2 control-label">Description</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" [(ngModel)]="newTheme.description" id="description" name="description" placeholder="Description"
                                rows="3"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-primary pull-right" [ngClass]="{'disabled' : !formIsValid}" (click)="formIsValid && newThemeModal.hide();formIsValid && addNewTheme(newTheme);">Add theme</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<!-- update Theme Modal -->
<div class="modal fade" bsModal #updateThemeModal="bs-modal" tabindex="-1" role="dialog" aria-labelledby="updateThemeModal"
    aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">Update theme</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="updateThemeModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="updateThemeName" class="col-sm-2 control-label">Theme Name*</label>
                        <div class="col-sm-10">
                            <input type="text" [(ngModel)]="updatedTheme.name" (ngModelChange)="updateThemeNameChanged(updatedTheme.name)" class="form-control" id="updateThemeName" name="updateThemeName" placeholder="Theme Name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="updateKeywords" class="col-sm-2 control-label">Keywords</label>
                        <div class="col-sm-10">
                            <input type="text" [(ngModel)]="updateKeywordsString" (ngModelChange)="updateKeywordStringChanged(updateKeywordsString)" class="form-control" id="updateKeywords" name="updateKeywords" placeholder="Keywords (seperated with ;)">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="keywords" class="col-sm-2 control-label"></label>
                        <div class="col-lg-10">
                            <span class="keywordTag label label-default" *ngFor="let keyword of updatedTheme.keywords">{{keyword}}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="updateDescription" class="col-sm-2 control-label">Description</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" [(ngModel)]="updatedTheme.description" id="updateDescription" name="updateDescription" placeholder="Description"
                                rows="3"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-primary pull-right" [ngClass]="{'disabled' : !updateFormIsValid}" (click)="updateFormIsValid && updateTheme(updatedTheme); updateFormIsValid && updateThemeModal.hide();">Update theme</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>