/* You can add global styles to this file, and also import other style files */
.active{
    background-color: #337ab7 !important;
    color: white !important;
}

.keywordTag{
    margin-right: 5px;
}

.thumbnailImage{
    max-height: 200px;
}

#userInfo{
    margin-top: 8px;
}

#userName{
    margin-right: 15px;
}

.edit-buttons-container{
    display: none;
}

.card-item{
    margin-bottom: 15px;
}

.card-item:hover .edit-buttons-container{
    display: block;
}

.edit-buttons-container button{
    margin-left: 10px;
}

.buttons-wrapper{
    min-height: 35px;
}

.add-new-button{
    margin-top: 15px;
}