<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="jumbotron">
                <h1>Welcome to LinkList</h1>
                <p>This is an awesome web app, that lets you store links related to several themes, so you won't never forget
                    any awesome link you fund on the internet</p>
                <p><a class="btn btn-primary btn-lg" routerLink="/list-themes" role="button">Learn more</a></p>
            </div>
        </div>
    </div>
</div>